<h1>Artists#index</h1>
<hr />
<h2><%= @artists.length <= 0 ? "No Artists" : "" %></h2> 
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist %>
    </li>
  <% end %>
</ul>