<h1>Billboards#index</h1>
<%# <%= link_to 'Delete a Billboard', billboard_path, class: 'active item', method: :delete %> %>
<hr />
<h2><%= @billboards.length <= 0 ? "No Billboards" : "" %></h2> 
<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.name, billboard %>
    </li>
  <% end %>
</ul>