<nav>
  <ul>
    <li>
      <%= link_to 'Artists', artists_path %>
    </li>
    <li>
      <%= link_to 'Add Artist', new_artist_path %>
    </li>
    <li>
      <%= link_to 'Billboards', billboards_path %>
    </li>
    <li>
      <%= link_to 'Add Billboards', new_billboard_path %>
    </li>
  </ul>
</nav>