<div class="ui secondary menu">
  <a>
    <%= link_to 'Artists', artists_path, class: 'active item' %>
  </a>
  <a>
    <%= link_to 'Add Artist', new_artist_path, class: 'active item' %>
  </a>
  <a>
    <%= link_to 'Billboards', billboards_path, class: 'active item' %>
  </a>
  <a>
    <%= link_to 'Add Billboards', new_billboard_path, class: 'active item' %>
  </a>
</div>